* {
    box-sizing: border-box;
  }

body{
    background-color:#ff0808;
}

.wrapper{
    margin: 30px;
    background-color: white;
    padding: 50px;
    border-radius: 50px;
    border: 3px solid black;
}


.pokemon-list{
    display:flex;
    flex-wrap: wrap;
    padding:0;
    row-gap: 5px;
    column-gap: 3px;
}

li{
    margin:auto;
}

.btn-primary, .btn-secondary{
    width: 130px;
    background-color: #ff0808;
    border-width: 1px;
    border-color: black;
    font-family: inherit;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin: 4px 2px;
    font-weight: 600;
    }

.btn-primary:hover, .btn-secondary:hover{
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid red;
}

.pokemon-list {
    list-style: none;
}

#loader {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #444444;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.navbar{
    margin: 10px 60px 0;
    display: flex;
    justify-content: space-between;
}

.navbar-brand{
    margin-top:5px;
    margin-left:5px;
}

.collapse{
    max-width: fit-content;
    
}

.nav-link{
    margin-left: 15px;
    margin-top: 5px;
    color: black !important;
    font-size: large;
    font-weight: 800;
    font-family: "ＭＳ Ｐゴシック";
}

.nav-link:hover{
    transition-duration: 300ms;
    color: white !important;
}

.search-bar {
    margin: 0 auto;
}

.modal-content{
  text-align: center;
}

.modal-header{
    justify-content: center;
}

footer p{
    text-align: center;
    padding-bottom: 10px;
}

.container-contact2{
    background: #ff0808;
}

.contact2-form-btn{
    background-color: #ff0808;
}

.card{
    margin: 50px auto;
    text-align: center;
}

@media all and (max-width: 718px) {

    .navbar {
        margin:0 auto;
        display: flex;
        flex-direction: column;
        
    }
    .search-bar{
        max-width:200px;
        margin: 30px auto;
    }

    .navbar-toggler{
        margin-top: 10px;
    }
    
    .nav-link{
       margin: 3px auto;
    }

}

@media all and (max-width: 215px) {
    .btn-primary{
        width: 90px;
        font-size: 10px;
    }
    .wrapper{
        margin: auto;
    }
}

@media all and (max-width: 350px) {
    h1{
        font-size: 20px;
    }
}

@media all and (max-width: 220px) {
    h1{
        font-size: 15px;
    }
}

.container-contact2{
    width: 70%;
    margin: 30px auto;
}

@media all and (max-width: 460px) {
    .contact2-form-btn{
        font-size:12px;
        min-width: 10px;
    }
    .contact2-form-title{
        font-size: 26px;
    }
}
@media all and (max-width: 265px) {
    .contact2-form-btn{
        font-size:10px;
        
    }
    .contact2-form-title{
        font-size: 18px;
    }
}

@media all and (max-width: 360px) {
    .card{
        max-width: 250px;
    }
}

@media all and (max-width: 280px) {
    .card{
        max-width: 180px;
    }
}

@media all and (min-width: 719px) and (max-width: 991px) {
    .navbar-toggler{
        margin-right: 0;
    }
}



