.pokemon-list{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
.button-class {
    width: 150px;
    background-color: yellow;
    border-width: 2px;
    border-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.button-class:focus {
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid red;
}

.pokemon-list {
    list-style: none;
}

#loader {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #444444;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.logo, .search-bar {
    display: inline-block;
}

.search-bar {
    float: right;
    margin-top: 51px;
}

#search-bar {
    border-color: red;
}