.pokemon-list {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.btn-primary {
    width: 150px;
    background-color: yellow;
    border-width: 2px;
    border-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.btn-primary:hover {
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid red;
}

.pokemon-list {
    list-style: none;
}

#loader {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #444444;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.navbar{
    background-color: white;
}

.navbar-brand{
    margin-top:5px;
    margin-left:5px;
}

.collapse{
    margin-top:7px;
}

.nav-link{
    margin-left: 15px;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
}

.nav-link:hover{
    transition-duration: 4ms;
    color: red;
}

.search-bar {
    margin: 20px auto 40px;
    max-width: 500px;
}

html, body {
    font-family: Arial, sans-serif;
}


.modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 15px;
    width: 100%;
    max-width: 700px;
    text-align: left;
}

.modal{
    display:none;
}

.modal-dialog.is-visible {
    /* CSS for modal container - add your own desired CSS styles here */
    display: block;
}
